/Application.class
/LoginController.class
/MedestudentenController.class
/RoosterController.class
/SysteemDatumController.class
/AfwezigheidController.class
/RoosterDocentController.class
/RoosterControllerDocent.class
/GetLeerlingenController.class
/OpslaanLeerlingenController.class
/StudentInfoController.class
